header {
    margin-top: 50px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #008B8B;  
    background-image:-webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(226, 226, 226); 
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}

a {
    color: #343a40;
    transition: all 0.5s;
}

a:hover, a:visited {
    text-decoration: none;
    color: #495158
}

.btn-download {
    background: #008B8B;
    color: white;
    border: none;
}

.btn-download:hover, .btn-download:visited {
    background: #666d75;
    color: white
}

.card-img-top {
    max-height: 170px;
    max-width: 100%;
    object-fit: cover;
}

@media (min-width: 576px) and (max-width: 991px) {
    .card-deck .card {
        flex: 1 1 30%;
        
    }
}

.card-deck .card {
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 2%;
}

h5.card-title {
    font-size: 16px;
}

.card-body {
    padding: 4%;
}